@charset "utf-8"; 
@import "ehr_board.css";
@import "ehr_button.css";
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
ol,ul {list-style: none;}

body {
	line-height: 1;
	font-family: 'Malgun Gothic', 'dotum';	
}
input {
	vertical-align:middle;
}
input.text {
	border:solid 1px #B9B9B9;
	color:#6a6a6a;
}
.b {font-weight:bold;}
.strTxt {color:#eb3462; }
.bottomMent {
	padding:0px 0 20px 0;
	color:#999;
}

#mainBody {
	background:url(../main/topArea_bg.jpg) repeat-x;
}
.mainWrapper {
	background:url(../main/topArea_right.jpg) no-repeat 610px 0px;
	min-width:885px;
}
.topArea {
	position:relative;
	width:100%;
	min-width:885px;
	max-width:970px;
	height:290px;
	font-family: 'Malgun Gothic', 'dotum';	
	background:url(../main/topArea_left.jpg) no-repeat top left;
}
#prsnInfo {
	width:550px;
	height:81px;
	position:absolute;
	top:51px;
	left:65px;
}
.picArea {
	width:97px;
	height:81px;
	overflow:hidden;
	position:relative;
}

.picArea .frame{
	width:97px;
	height:81px;
	background:url(../main/pic_frame.png) no-repeat top right;
	position:absolute;
	z-index:10;
	top:0;
	left:0;
}
.picArea img {
	width:61px;
	position:absolute;
	z-index:7;
	top:9px;
	left:11px;
}
.prsnTxt {
	position:absolute;
	z-index:11;
	top:30px;
	left:97px;
	font-size:11px;
	vertical-align:middle;
	line-height:11px;
}
.prsnTxt .name{
	font:11px 'Malgun Gothic' normal;
	padding:3px 5px 3px 5px;
	display:inline-block;
	background:#ef4674;
	color:#fff;
	margin:0 5px 0  2px;
	letter-spacing:-1px;
	vertical-align:middle;
}
.prsnTxt .date{
	font:11px 'Malgun Gothic' normal;
	padding:3px 5px 3px 5px;
	display:inline-block;
	background:#909090;
	color:#fff;
	vertical-align:middle;
}
	
#myData {
	position:absolute;
	top:155px;
	left:65px;
	z-index:100;
}
#mainVisual {width:270px;position:absolute;top:0;right:0;} 
.grTxt {position:absolute;z-index:100;width:270px;height:290px;
	background: url(../main/rollimg/grTxt.png) no-repeat ;}
#mainVisual span {width:270px;height:290px;display:block;margin:0;padding:0;overflow:hidden;} 
#mainVisual ul {width:270px;height:270px;}
#information h2 {
	float:left;
	line-height:31px;
	font-size:12px;
	font-weight:bold; 
	color:#666;
	padding-right:40px;
	margin:25px 0 0 80px;
}
#information ul {
}
#information {
	clear:both;
	width:100%;
	height:80px;
	background:#ddd url(../main/information_bg.gif) repeat-x ;
}
#information li {
	float:left;
	font-size:12px;
	color:#666;
	line-height:31px;
	padding-left:40px;
	padding-right:50px;
	margin:25px 0 0 0;
}
#information li a { 
	color:#666;
	text-decoration:none;
}
#information li a:hover, #information li a:active{ 
	color:#333;
	text-decoration:underline;
}
#information li.hrSystem {
	background: url(../main/info_01.gif) no-repeat ;
}
#information li.hrQna {
	background: url(../main/info_02.gif) no-repeat ;
}
#information li.hrFaq {
	background: url(../main/info_03.gif) no-repeat ;
}
#information li.hrManager {
	background: url(../main/info_04.gif) no-repeat ;
}
	
hr {
	height:1px;
	margin:0;
	padding:0;
	clear:both;
	color:#fff;
	border:1px #fff;
}
#pageFooter {
	clear:both;
	font:normal 11px verdana;
	color:#b7b7b7;
	margin:50px 50px 20px 50px;
	border-top:solid 1px #d9d9d9;
	padding:10px  0 0 0 ;
}
#pageFooter article {
	padding:30px 0 25px 0;
	color:#9e9e9e;
} 
.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper .bx-viewport {}
.bx-wrapper .bx-pager {
	position: absolute;
	left:29px;
	top:70px;
}
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../main/rollimg/bx_loader.gif) center center no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.bx-wrapper .bx-pager {
	text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 2px;
	outline: 0; 
	background:url(../main/rollimg/rolling_dot.png) no-repeat;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background:url(../main/rollimg/rolling_dot_on.png) no-repeat;
}



.vacaPrsn, .vacaPart, .monthlyOverTime {
	float:left;
	width:205px;
	height:105px;
	position:relative;
}
.vacaPrsn .icon, .vacaPart .icon, .monthlyOverTime .icon {
	position:absolute;
	top:0;
	left:0;	
}
.vacaPrsn h3, .vacaPart h3, .monthlyOverTime h3 {
	padding:0 0 8px 120px;
	line-height:17px;
}
.vacaPrsn ul, .vacaPart ul, .monthlyOverTime ul {
	padding:0 0 0 120px;
}
.vacaPrsn li, .vacaPart li, .monthlyOverTime li {
	padding:0 0 5px 0;
}
.vacaPrsn, .vacaPart, .monthlyOverTime {
	font-size:12px;
	color:#8c8c8c;
}
.vacaPrsn h3, .vacaPart h3, .monthlyOverTime h3 {
	font-size:12px;
	font-weight:bold;
	color:#757575;
}
.vacaPrsn h3 .data, .vacaPart h3 .data, .monthlyOverTime h3 .data {
	font-weight:normal;
}
.vacaPrsn h3 .data .num, .vacaPart h3 .data .num, .monthlyOverTime h3 .data .num {
	font-weight:bold;
	color:#ed4573;
}
.monthlyOverTime h3 {
	letter-spacing:-1px;
}
.vacaPrsn .num, .vacaPart .num, .monthlyOverTime .num {
	font-weight:bold;
}
.vacaPrsn .numStr, .vacaPart .numStr, .monthlyOverTime .numStr {
	font-weight:bold;
	color:#e5287d;
}
.bottomArea {
	max-width:965px;
	margin-right:30px;
}
#quickMenu_p, #quickMenu_m, #siteLinks {
	float:left;
	padding-top:37px;
}
#quickMenu_p, #quickMenu_m {
	padding-top:39px;
}
#quickMenu_p.optShow {
	padding-left:385px;
	padding-bottom:30px;
	min-height:100px;
	background:url(../main/quick_space.jpg) no-repeat 35px 15px;
}
#quickMenu_p {
	padding-right:30px;
	padding-left:80px;
}
#quickMenu_m {
	padding-right:30px;
	padding-left:90px;
}
#siteLinks {
	float:right; 
	padding-right:0;
}
#quickMenu_p h2, #quickMenu_m h2, #siteLinks h2 {
	font:bold 12px 'Malgun Gothic';
	color:#393939;
	vertical-align:middle;
	line-height:12px;
} 

.divP {
	background:url(../main/div_p_ico.gif) no-repeat;
	font-size:11px;
	line-height:11px;
	color:#fff; 
	padding:3px 9px 3px 9px;
	vertical-align:middle;
}
.divP, .divM {
	background:url(../main/div_p_ico.gif) no-repeat;
	font-size:11px;
	line-height:11px;
	vertical-align:middle;
	font-family: 'Malgun Gothic';
	vertical-align:middle;
	color:#fff; 
	padding:1px 9px 4px 9px;
}
#quickMenu_p h2 img, #quickMenu_m h2 img{
	vertical-align:middle;
}
.divM {
	background:url(../main/div_m_ico.gif) no-repeat;
	letter-spacing:-1px;
}
#quickMenu_p ul, #quickMenu_m ul {
	padding:15px 0 0 0;
}
#quickMenu_p li, #quickMenu_m li {
	font-size:12px;
	color:#686868; 
	padding:0 0 6px 0;
}
#quickMenu_p li a, #quickMenu_m li a { 
	color:#686868;
	text-decoration:none;
}
#quickMenu_p li a:hover, #quickMenu_m li a:hover, 
#quickMenu_p li a:active, #quickMenu_m li a:active { 
	color:#333;
	text-decoration:underline;
}




#siteLinks ul  {
	padding:15px 0 0 0;
}
#siteLinks li  {
	float:left;
	color:#8c8c8c;
	font-size:11px;
	padding:0px 20px 0 20px;
	text-align:center;
}
#siteLinks li a { 
	color:#8c8c8c;
	text-decoration:none;
	display:block;
	padding:60px 0 0 0;
}
#siteLinks li a:hover, #siteLinks li a:active{ 
	color:#333;
	text-decoration:underline;
}
#siteLinks li span { 
	text-align:center;
}
.trInstitute {
	background:url(../main/tr_institute_img.gif) no-repeat;
}
.selWelfare {
	background: url(../main/sel_welfare_img.gif) no-repeat;
}
.wWcenter {
	background:url(../main/workingw_center_img.gif) no-repeat;
}


	
	
	
	
	
	
	
#leftBody {
	background:#30333c;
}
#leftBody h2 {
	background:url(../leftMenu/lmenu_top.gif) no-repeat;
	overflow:hidden;
	height:55px;
	padding:0;
	margin:0;
}
#leftBody h2 a {
	display:block;
	height:55px;
}
#leftBody h2 span {
	text-indent:-1000px;
	display:block;
}

#leftBody a {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
	font-family:'Malgun Gothic' ;
}

.lMenu_1st {
	font-weight:bold;
	font-size:12px;
	color:#b3b5ba;
	padding-left:18px;
	line-height:32px;
	height:32px;
}

.LMENU_2ND {
	font-weight:normal;
	font-size:12px;
	color:#878a92;
	height:27px;
	padding-left:18px;
	line-height:27px;
	background:#2c2f37;
	background:#373a44 url(../leftMenu/lm_2nd_bg.gif) no-repeat 0px 0px;
	display:block;
}
.LMENU_2ND:hover, .LMENU_2ND:active{ 
	color:#d9e3ff;
}
.lMenu_3rd {
	font-weight:normal;
	font-size:12px;
	color:#9d9ea4;
	padding-left:29px;
	line-height:20px;
	height:20px;
	display:block;
	background:#373a44 url(../leftMenu/lm_ico_3rd1.gif) no-repeat 18px 8px;
}
.lMenu_3rd:hover, .lMenu_3rd:active{ 
	color:#d9e3ff;
}

.lMenu_4th {
	font-weight:normal;
	font-size:12px;
	line-height:14px;
	color:#a6a7ab;
	display:block;
	padding:2px 0 6px 34px;	
} 
.lMenu_4th_on {
	color:#d63464;
} 
.lMenu_4th:hover, .lMenu_4th:active{ 
	color:#d63464;
}
.lMenu_etc {
	background:#30333c;
	padding:0 0 2px 14px;
	font-size:12px;
}
.lMenu_etc a {
	color:#a6a7ab;
	font-size:12px;
	text-decoration:none;
}
.lMenu_etc a:hover, .lMenu_etc a:active{ 
	color:#b4bed9;
	text-decoration:underline;
}
.lmSitemap {
	padding:0 0 40px 43px ;
	background:url(../leftMenu/lm_sitemap_ico.gif) no-repeat 19px 1px;
}
.lmSitemap a {
	color:#a6a7ab;
	font-size:11px;
	text-decoration:none;
}


.lMenu_logout {
	background:#30333c;
	padding:10px 0 15px 14px;
}
.lMenu_logout a {
	color:#a6a7ab;
	font-size:12px;
	text-decoration:none;
}
.lMenu_logout a:hover, .lMenu_logout a:active{ 
	color:#b4bed9;
	text-decoration:underline;
}



.lMenu_etcStr {
	background:#30333c;
	padding:20px 0 2px 14px;
}
.lMenu_etcStr a {
	color:#a6a7ab;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}
.lMenu_etcStr a:hover, .lMenu_etcStr a:active{ 
	color:#b4bed9;
	text-decoration:underline;
}
.noticeWrapper .bodyWrapper {
	padding:0 25px 0px 25px;
	margin:0 0 0px 0;
	min-height:456px;
}
.noticeWrapper .header {
	height:40px;
	margin-bottom:30px;
	background:#c50452 url(../main/notice_img.gif) no-repeat top right;
}
.noticeWrapper h2 {
	padding:10px 0 0 30px;
	color:#fff;
	font-weight:bold;
	font-size:17px;
	padding-bottom:30px;
}
.toTop a {
	color:#666;
	font-size:12px;
	display:block;
	width:50px;
	padding:4px 0 4px 0;
	text-decoration:none;
	background:url(../main/top_ico.gif) no-repeat top right;
	float:right;
}
.toTop a:hover, .toTop a:active{ 
	color:#333;
	text-decoration:underline;
}
.nBottom {
	margin:20px 0 0 0;
	padding:10px 20px 15px 20px;;
	text-align:right;
	background:#f0f0f0;
}
.nBottom a {
	color:#666;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	background: url(../main/close_ico.gif) no-repeat top right;
	padding:0 17px 3px 0;
	line-height:12px;
}
.nBottom a:hover, .bottom a:active{ 
	color:#333;
	text-decoration:underline;
}
.nBottom .closeToday {color:#696969;font-size:11px;display:block;float:left;}



.subWrapper {
	width:780px;
	margin:20px 0 30px 15px;
}
.subHead {
	background:url('../ehr/title_underbar.gif') repeat-x  left bottom;
	padding:0 0 7px 0;
	margin-bottom:12px;
}
.subWrapper h2 { 
	color: #333; 
	font-size:15px;
	font-weight: bold; 
	word-spacing: -1; 
	background:url(../ehr/title01.gif) no-repeat 0px 0px;
	padding:2px 0 14px 30px;
}
.contentBody h3 { 
	color: #555; 
	font-weight: bold; 
	word-spacing: -1; 
	background:url(../ehr/icon_o.gif) no-repeat 3px 4px;
	padding:0 0 15px 14px;
}
.contentBody h4 { 
	color: #555; 
	font-weight: bold; 
	word-spacing: -1px; 
	background:url(../ehr_common/bull_h4.gif) no-repeat 3px 4px;
	padding:0 0 12px 14px;
}
.contentBody {
	font-size:12px;
	color:#666;
	text-align:justify;
}
.tMent {
	padding:0px 0 20px 0;
	line-height:17px;
	color:#999;
	font-size:12px;
}
strong {	font-weight:bold;}
.strCol01 {	color:#eb3462;}
a.strCol01 {	color:#eb3462;}
.underLine {text-decoration:underline;}
.popupWrapper { 
	margin:20px 20px 30px 20px;
} 
.popupWrapper h2 { 
	color: #333; 
	font-size:15px;
	font-weight: bold; 
	word-spacing: -1; 
	background:url(../ehr/title01.gif) no-repeat 0px 0px;
	padding:2px 0 14px 30px;
} 
.popupBottom  {
	text-align:center;  
	padding:20px 20px 10px 0;
} 


.subWrapper.eapIntro {
	width:100%;
	margin:0;
}
.eapIntro {
	background:url(../ehr_common/eap_bg.jpg) repeat-x;
}
.eapIntro .contentBody {
	width:780px;
}
.eapContentWrapper {
	position:relative;
	width:890px;
	height:1020px;
}
.eapTitle {
	position:absolute;
	top:35px;
	left:220px;
	width:520px;
	height:110px;
	background:url(../ehr_common/eap_intro_title.png) no-repeat;
}
.eapVisual {
	position:absolute;
	top:160px;
	left:85px;
	width:760px;
	height:430px;
	background:url(../ehr_common/eap_intro_visual.png) no-repeat;
}

.eapTxt {
	position:absolute;
	top:665px;
	left:95px;
	width:220px;
	height:180px;
	background:url(../ehr_common/eap_intro_service_txt.png) no-repeat;
}
.eapService {
	position:absolute;
	top:620px;
	left:360px;
	width:465px;
	height:360px;
	background:url(../ehr_common/eap_intro_service_img.png) no-repeat;
}

.eapSubBody {
	padding-left:20px;
	margin:0;
	background:url(../ehr_common/eap_sub_bg.jpg) repeat-x;
}
.psyTop {
	background:url(../ehr_common/eap_psy_visual.png) no-repeat 0px 30px;
	padding:40px 0 0 330px;
}
.healthTop {
	background:url(../ehr_common/eap_health_visual.png) no-repeat 0px 30px;
	padding:20px 0 0 330px;
}
.contentBody .healthTop h3 {
	padding-bottom:10px;
}
.psyTop h2, .healthTop h2 {
	/* background:url(../ehr_common/eap_title_bg.gif) no-repeat; */
	background:transparent;
	margin:0;
	padding:0;
	width:102px;
	height:56px;
	text-align:center;
}
.psyTop h2 span,.healthTop h2 span{
	display:block;
	color:#fff;
	font-size:14px;
	padding:8px 0 0 0;
}
.psyTop p,.healthTop p {
	line-height:19px;
} 
.healthTop p {
	line-height:17px;
} 
	
.psyTop ul,.healthTop ul {
	margin:0;
	padding:20px 0 30px 0;
}
.psyTop li, .healthTop li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	height:150px;
}
.psyTop li.item03, .healthTop li.item03 {
	width:135px;
}
.psyTop li.item01, .healthTop li.item01  {
	background:url(../ehr_common/psy_ico_01.gif) no-repeat;
}
.psyTop li.item02, .healthTop li.item02 {
	background:url(../ehr_common/psy_ico_02.gif) no-repeat;
}
.psyTop li.item03, .healthTop li.item03 {
	background:url(../ehr_common/psy_ico_03.gif) no-repeat;
}
.psyTop li span,.healthTop li span {
	display:block;
	padding-right:6px;
	text-align:center;
	padding-top:86px;
	font-weight:bold;
	line-height:16px;
}
.psyTop li.item01 span, .healthTop li.item01 span {
	padding-top:95px;
}
.psyTop li span strong,.healthTop li span strong {
	color:#e23065;
}
.psyTop .clearT, .healthTop  .clearT  {
	height:60px;
	clear:both;
}
.eapSubBody h4.num {
	font-weight:bold;
	padding-bottom:10px;
}
.eapSubBody p.ment {
	padding:0 0 20px 0;
	line-height:17px;
}
.eapBox01  {
	height:210px;
	padding-top:10px;
}
.eapBox01 li {
	float:left;
	width:272px;
	height:195px;
	background:url(../ehr_common/eap_box1_bg.gif) no-repeat left bottom;
}
.eapBox01 li.lastItem {
	float:right;
	width:233px;
}
.eapBox01 li h4 {
	height:65px;
	width:207px;
	text-align:center;
	background:url(../ehr_common/eap_box1_top.gif) no-repeat;
}
.eapBox01 li h4 span {
	display:block;
	padding:29px 0 0 0 ;
	color:#fff;
	font-weight:bold;	
}
.eapBox01 li ul {
	padding:0px 0 0 27px;
}
.eapBox01 li li {
	height:auto;
	width:auto;
	float:none;
	padding:0 70px 5px 10px;
	line-height:17px;
	background:url(../ehr_common/dot_gray.gif) no-repeat 0 7px;
}
.eapBox01 li.lastItem li {
	padding-right:30px;
}
.eapSubBody .clear {
	clear:both;
	height:20px;
	margin:0;
	padding:0;
	color:#fff;
	border:1px #fff;
}
.eapBox02{
	position:relative;
	padding:0px 0 20px 213px;
	background:url(../ehr_common/psy_stitle1.gif) no-repeat 33px 7px;
}
.eapBox02 h4{
	display:none;
} 
.eapBox02 li {
	width:566px;
	background:url(../ehr_common/eap_box2_bg.gif) no-repeat left bottom;
	margin-bottom:10px;
}
.eapBox02 li h5 {
	height:57px;
	width:566px; 
	background:url(../ehr_common/eap_box2_top.gif) no-repeat;
}
.eapBox02 li h5 span {
	display:block;
	padding:18px 0 0 25px ;
	color:#fff;
	font-weight:bold;	
}
.eapBox02 li ul {
	padding:0px 0 20px 27px;
}
.eapBox02 li li { 
	width:510px; 
	padding:0 0 5px 10px;
	margin-bottom:0;
	line-height:15px;
	background:url(../ehr_common/dot_gray.gif) no-repeat 0 7px; 
}


.eapBox03{
	position:relative;
	padding:0px 0 20px 255px;
	background:url(../ehr_common/health_stitle1.gif) no-repeat 40px 20px;
}
.eapBox03 h4{
	display:none;
}  
.eapBox03 li {
	width:526px;
	height:94px;
	background:url(../ehr_common/eap_box3_bg.gif) no-repeat left bottom;
	margin-bottom:10px;
}
.eapBox03 li h5 {
	height:57px;
	width:526px;  
}
.eapBox03 li h5 span {
	display:block;
	padding:18px 0 0 25px ;
	color:#fff;
	font-weight:bold;	
}
.eapBox03 li ul {
	padding:0px 0 20px 27px;
}
.eapBox03 li li { 
	width:510px; 
	padding:0 0 5px 10px;
	margin-bottom:0;
	line-height:15px;
	background:url(../ehr_common/dot_gray.gif) no-repeat 0 7px; 
} 
/* �� ���� */
.tabLine {
	background:url('../ehr_common/tab_bg.gif') repeat-x;
	height:27px;
	margin-bottom:25px;
}
.tabLine a {
	text-decoration:none;
}
.tabLine.narrow .tl,
.tabLine.narrow .tr,
.tabLine.narrow .tl_on,
.tabLine.narrow .tr_on{	width:5px;}

.tabLine .tl, .tabLine .tc, .tabLine .tr , .tabLine .tl_on, .tabLine .tc_on, .tabLine .tr_on{
	float:left;
	height:27px;
}
.tabLine .tl{
	width:15px;
	background:url('../ehr_common/tab_left.gif') no-repeat;
}
.tabLine .tr{
	width:15px;
	margin-right:3px;
	background:url('../ehr_common/tab_right.gif') no-repeat top right;
}
.tabLine .tc{
	background:url('../ehr_common/tab_center.gif') repeat-x top center;
	padding:0 10px 0 10px;
}
.tabLine .tc span {
	display:block;
	padding-top:5px;
	color:#767676;
	font-weight:bold;
}
.tabLine .tl_on{
	width:15px;
	background:url('../ehr_common/tableft_on.gif') no-repeat;
}
.tabLine .tr_on{
	width:15px;
	margin-right:3px;
	background:url('../ehr_common/tabright_on.gif') no-repeat top right;
}
.tabLine .tc_on{
	background:url('../ehr_common/tabcenter_on.gif') repeat-x top center;
	padding:0 10px 0 10px;
}
.tabLine .tc_on span {
	display:block;
	padding-top:5px;
	color:#eb3462;
	font-weight:bold;
}
/* �� �� */


