.table01 {  font-family: "굴림", "굴림체"; font-size: 9pt; background-color: #CCCCCC; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px}

.table02 {  font-family: "굴림", "굴림체"; font-size: 9pt; background-color: #CCCCCC}

.tr01 {  font-family: "돋움", "돋움체"; font-size: 12px; background-color: #FFFFFF}

.td01 {  font-family: "굴림", "굴림체"; font-size: 9pt; font-weight: normal; color: #333333; background-color: #EBEBEB; padding-left: 10px}

.td02 {  font-family: "굴림", "굴림체"; font-size: 9pt; color: #333333; padding-left: 5px; background-color: #FFFFFF; line-height: 14pt}

.td03 {  font-family: "굴림", "굴림체"; font-size: 9pt; background-color: #EBEBEB; font-weight: normal; text-align: center; line-height: 14pt}

.td04 {  font-family: "굴림", "굴림체"; font-size: 9pt; background-color: #FFFFFF; text-align: center}

.input01 {  font-family: "굴림", "굴림체"; font-size: 9pt; border: 1 solid #B9C7F1}

.input02 {  font-family: "굴림", "굴림체"; font-size: 9pt; border: 1 solid #FFFFFF}

.input03 {  font-family: "굴림", "굴림체"; font-size: 9pt; border: 1 solid #CCCCCC}

.input04 {  font-family: "굴림", "굴림체"; font-size: 9pt; border: 1 solid #CCCCCC; background-color: #F9F9F9}

.title01 {  font-family: "굴림", "굴림체"; font-size: 14pt; font-weight: bolder; color: #000000; padding-left: 32px; background-image: url(../title_bg.gif); background-repeat: no-repeat; height: 26px; width: 350px}

.font01 {  font-family: "굴림", "굴림체"; font-size: 9pt; color: #000000; font-weight: bold}

.style01 {  font-family: "굴림", "굴림체"; font-size: 9pt; line-height: 16px; color: #333333}

a:link {  color: #666666; text-decoration: none}

a:visited {  color: #666666; text-decoration: none}

a:hover {  color: #666666; text-decoration: underline}

